body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
}

.thumb {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  padding-left: 3px;
  display: inline-block;
}
#thumb-up.selected {
  --fa-primary-color: #007ac7;
  --fa-secondary-color: #007ac7;
}

#thumb-down.selected {
  --fa-secondary-color: #f03529;
  --fa-primary-color: #f03529;
}

#thumb-down:not(.selected):hover {
  --fa-secondary-color: #f03529;
}
#thumb-up:not(.selected):hover {
  --fa-secondary-color: #007ac7;
}

#thumb-down.selected:hover,
#thumb-up.selected:hover {
  --fa-secondary-color: #808080;
}

.thumb:not(.selected) {
  --fa-secondary-color: #808080;
  --fa-primary-color: #333333;
}

#thumb-up {
  padding-bottom: 19px;
}

#thumb-down {
  padding-top: 19px;
}

#thumbs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thumbs-total {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#thumbs-total.negative-number {
  color: #f03529;
}
#thumbs-total.positive-number {
  color: #007ac7;
}

#login-btn.hidden,
#thumbs-container.hidden {
  display: none;
}

.btn {
  margin-left: 10px;
  max-width: max-content;
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
  color: white;
  border-color: rgba(27, 31, 35, 0.5);
  text-decoration: none;
}

#main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#thumbs-container.dark p {
  color: white;
}

#thumb-down.dark.selected:hover,
#thumb-up.dark.selected:hover {
  --fa-secondary-color: white;
  --fa-primary-color: white;
}

.dark:not(.selected) i {
  --fa-secondary-color: white;
  --fa-primary-color: white;
}
